@import "nativescript-theme-core/css/core.light.css";

.fa {
    font-family: "FontAwesome", "fontawesome-webfont";
    vertical-align: center;
}

.switch {
    margin: 0;
}

.form .input-field .h3,
.form .input-field .h4 {
    vertical-align: top;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 15px;
}

.small-text {
    font-size: 10px;
}