<StackLayout orientation="vertical" class="item-section">
  <Image [src]="item.image"  width="80%" class="item-image" (tap)="navigateToMap()"></Image>
  
  <label>{{item.title}}</label>
 
  <label text="{{ item.title }}" class="item-title"></label>
  <label text="{{ item.subtitle }}" class="item-subtitle"></label>
  <MapView (mapReady)="onMapReady($event)"></MapView>
  <label text="{{ item.date }}" class="item-date"></label>
  <label text="Google maps Button" (tap)="navigateToMap()" ></label>
  <ScrollView (scroll)="onScroll($event)" class="item-description-scrollable-content">
    <label text="{{ item.description }}" textWrap="true" class="item-description"></label>
  </ScrollView>
 
</StackLayout>
