@import "nativescript-theme-core/css/core.light.css";

.fa {
    font-family: "FontAwesome", "fontawesome-webfont";
    vertical-align: center;
}

.switch {
    margin: 0;
}

.form .input-field .h3,
.form .input-field .h4 {
    vertical-align: top;
}

.card {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; */
    margin: 40;
}

.small-spacing{
    margin-bottom: 0;
}

.small-text {
    font-size: 10;
}


.item-image {
    margin: 15 0 0 15;
}

.item-title {
    font: 18;
    font-weight: bold;
}

.item-section {
    margin: 0 30 0 30;
}

.item-subtitle {
    font-weight: bold;
}

.item-description {
    margin: 40 0 40 0;
}

.item-description-scrollable-content {
    
}